<div class="navbar">
    <div class="navbar-top">
  <a href="index.html" class="brand">Hani Cookies</a>
  <div class ="hamburger" onclick="toggleMenu()">☰</div>
</div>
  <div class ="nav-links" id ="navLinks">
    <a href="index.html" class="nav-button">Home</a>
    <a href="tentangkami.html" class="nav-button">Tentang Kami</a>
    <a href="produkdankhidmat.html" class="nav-button">Produk dan Perkhidmatan</a>
    <a href="kerjasama.html" class="nav-button">Kerjasama</a>
    <a href ="berita.html" class="nav-button">Berita</a>
    <a href="hubungi.html" class="nav-button">Hubungi Kami</a>
    </div>
</div>